
@{
    ViewBag.Title = "search";
}
<link href="~/Content/Pages.css" rel="stylesheet" />





<form method="post" action="/profile/getpersons">
    <center>
        <input type="text" name="name" placeholder="Search here!" class="inputSearch" />
        <input type="submit" value="search" class="inputsubmit" />
    </center>
    
</form>
