@{
    ViewBag.Title = "Signup";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
        body {
            margin: 0;
            color: #fff;
            background: linear-gradient(to right, #e2336b, #fcac46, #8A2387);
            font: 600 16px/18px 'Open Sans',sans-serif;
        }

        *, :after, :before {
            box-sizing: border-box
        }

        .clearfix:after, .clearfix:before {
            content: '';
            display: table
        }

        .clearfix:after {
            clear: both;
            display: block
        }

        a {
            color: inherit;
            text-decoration: none
        }

        .login-wrap {
            width: 100%;
            margin: auto;
            max-width: 525px;
            min-height: 850px;
            position: relative;
            background-size: 525px 850px;
            box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
        }

        .login-html {
            width: 100%;
            height: 100%;
            position: absolute;
            padding: 90px 70px 50px 70px;
            background: linear-gradient(to right, #8A2387, #E94057,#F27121 );
            ;
        }

            .login-html .sign-in,
            .login-html .sign-up,
            .login-form .group .check {
                display: none;
            }

            .login-html .tab,
            .login-form .group .label,
            .login-form .group .button {
                text-transform: uppercase;
            }

            .login-html .tab {
                font-size: 22px;
                padding-bottom: 5px;
                margin: 0 30px 10px 0;
                display: inline-block;
                color: #fff;
                text-decoration: none;
            }

        .login-form .group {
            margin-bottom: 5px;
        }

            .login-form .group .label,
            .login-form .group .input,
            .login-form .group .button {
                width: 90%;
                color: #fff;
                display: block;
                outline: none;
            }

            .login-form .group .input,
            .login-form .group .button {
                border: none;
                padding: 15px 20px;
                border-radius: 25px;
                background: rgba(255,255,255,.1);
            }

            .login-form .group .button {
                background: #1161ee;
            }

        .upload {
            color: #aaa;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .center {
            margin-left: 60px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <form method="post" action="/Home/Signup" enctype="multipart/form-data">
        <div class="login-wrap">
            <div class="login-html">
                <center>
                    <a href="/Home/Index" for="tab-1" class="tab"><input id="tab-1" type="button" name="tab" class="sign-in">Sign In</a>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                </center>
                    <div class="login-form">
                    <div class="sign-up-htm">

                        <div class="center">
                            <div class="group">
                                <label for="fname">Firstname</label>
                                <input id="fname" type="text" class="input" name="Fname" required>
                            </div>
                            <div class="group">
                                <label for="lname">Lastname</label>
                                <input id="lname" type="text" class="input" name="Lname" required>
                            </div>
                            <div class="group">
                                <label for="num">PhoneNumber</label>
                                <input id="num" type="text" class="input" name="Phone" required>
                            </div>
                            <div class="group">
                                <label for="user">Username</label>
                                <input id="user" type="text" class="input" name="username" required>
                            </div>
                            <div class="group">
                                <label for="pass">Password</label>
                                <input id="pass" type="password" class="input" data-type="password" name="password" required>
                            </div>
                            <div class="group">
                                <label for="pass">Repeat Password</label>
                                <input id="pass" type="password" class="input" data-type="password" name="repassword" required>
                            </div>
                            <div class="group">
                                <label for="pass">Email Address</label>
                                <input id="pass" type="email" class="input" name="email" required>
                            </div>
                            <div class="upload">
                                <div class="fileUpload btn ">
                                    <input id="uploadBtn" type="file" class="upload" name="photo" required />
                                </div>
                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="Sign Up">
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>

    </form>
</body>
</html>
